@model Task_Manager.Models.UpdateTaskViewModel

    <h1>Edit Tasks</h1>
    <div class="add">
        <form method="post" action="View" class="mt-5">
            <div class="mb-3">
                <label for="" class="form-label">ID</label>
                <input type="text" class="form-control" asp-for="Id" readonly>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Task Name</label>
                <input type="text" class="form-control" asp-for="Title">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Description</label>
                <input type="text" class="form-control" asp-for="Description">
            </div>
            <div class="update">
            <button type="submit" class="btn btn-primary">Update</button>

            <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="Tasks">Delete</button>
            </div>
        </form>
    </div>